body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: #b6b7d8;
  background-image: url("images/bicyclist.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#chart {
  width: 90vw;
  height: 80vh;
  display: block;
  margin: 0 auto;
}

.tooltip {
  width: 200px;
  position: absolute;
  padding: 10px;
  background-color: #96a8a8;
  border-radius: 10px;
  font-size: 0.6em;
}

.tooltip span {
  font-weight: bold;
}

footer p {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  padding: 40px 0;
}
